@{
    ViewData["Title"] = "Top 10 Movies";
}

<div class="content">
    <div class="image">Картинка</div>
    <div class="details">
        <p>Название</p>
        <p>Режисер</p>
        <p>Жанр</p>
        <p>Год</p>
        <p>Описание</p>
    </div>
</div>
